<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="testWorkstation" value="false" /> 
  <add key="testVI" value="true" />
  <!-- workstation -->
  <add key="testWorkstationFilename" value="C:\Users\ddoubro\Virtual Machines\Windows XP Pro SP3 25GB\WinXP Pro SP3 25GB.vmx" />
  <add key="testWorkstationUsername" value="DDOUB-YELLOW\Administrator" />
  <add key="testWorkstationPassword" value="admin123" />
  <!-- virtual infrastructure -->
  <add key="testVIHost" value="linc.nycapt35k.com" />
  <add key="testVIHostUsername" value="vmuser" />
  <add key="testVIHostPassword" value="admin123" />
  <add key="testVIFilename" value="[dbprotect-1] ddoub-red/ddoub-red.vmx" />
  <add key="testVIUsername" value="Administrator" />
  <add key="testVIPassword" value="admin123" />
 </appSettings>
</configuration>