<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- it doesn't look like the VIX API can do both types of connection one after another, don't set both to true -->
    <add key="testVI" value="true" />
    <add key="testWorkstation" value="false" />
    <!-- workstation -->
    <add key="testWorkstationFilename" value="C:\Documents and Settings\ddoubro\My Documents\My Virtual Machines\Baseline AD - All clients WinXPSP2 V2\winXPPro.vmx" />
    <add key="testWorkstationUsername" value="Administrator" />
    <add key="testWorkstationPassword" value="admin123" />
    <!-- virtual infrastructure -->
    <add key="testVIHost" value="linc.nycapt35k.com" />
    <add key="testVIHostUsername" value="vmuser" />
    <add key="testVIHostPassword" value="admin123" />
    <add key="testVIFilename" value="[welby] ddoub-red/ddoub-red.vmx" />
    <add key="testVIUsername" value="Administrator" />
    <add key="testVIPassword" value="admin123" />
  </appSettings>
</configuration>