<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestsConfig" type="Vestris.VMWareLibUnitTests.VMWareTestsConfig,  Vestris.VMWareLibUnitTests" />
  </configSections>
  <TestsConfig runWorkstationTests="false" runVITests="true" runLongTests="false" runPoweredOffTests="false">
    <virtualmachines>
      <virtualmachine name="dblock-yellow" type="Workstation"
        file="c:\Users\dblock\Virtual Machines\Windows XP Pro SP3 25GB\WinXP Pro SP3 25GB.vmx" 
        guestUsername="DDOUB-YELLOW\Administrator" guestPassword="admin123" />
      <!--
      <virtualmachine name="ddoub-red" type="ESX" host="linc.nycapt35k.com" file="[dbprotect-1] ddoub-red/ddoub-red.vmx" 
        hostUsername="vmuser" hostPassword="admin123"
        guestUsername="Administrator" guestPassword="admin123" />
      -->
      <virtualmachine name="ddoub-mauve" type="ESX" host="linc.nycapt35k.com" file="[dbprotect-1] ddoub-mauve/ddoub-mauve.vmx"
        hostUsername="vmuser" hostPassword="admin123"
        guestUsername="Administrator" guestPassword="admin123" />
      <virtualmachine name="ddoub-purple" type="ESX" host="linc.nycapt35k.com" file="[dbprotect-1] ddoub-purple/ddoub-purple.vmx"
        hostUsername="vmuser" hostPassword="admin123"
        guestUsername="Administrator" guestPassword="admin123" />
    </virtualmachines>
  </TestsConfig>
</configuration>